.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://www.shutterstock.com/image-vector/internet-connection-abstract-sense-science-technology-554257006");
  background-position: center center;
}
